.clockrly-app {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}
.logo {
  width: 100px;
}

.clockrly {
  color: #088194;
  font-size: 28px;
  margin-left: 10px;
  position: relative;
  top: 11px;
}

.footer {
  color: #06364a;
  font-size: 14px;
  margin-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.footer a {
  color: #088194;
}
